:root {
   --white-color: #FFFFFD;
   --grey-color: #A9A9AF;
   --dark-grey-color: #474B5B;
   --darkest-grey-color: #31303E;
 }

 .container-fluid {
   padding: 0;
 }

 .text-box-column {
   padding: 20px 20px;
 }

header {
  background-color: var(--dark-grey-color);
}

header #header-carousel .carousel-item img {
  width: 100%;
  height: auto;
}

section {
  padding: 50px 0;
}

.section-dark-grey {
  background-color: var(--dark-grey-color);
  color: var(--white-color);
}

section#contact form button {
  background-color: var(--darkest-grey-color);
  border: 1px solid var(--dark-grey-color);
  color: var(--white-color);
  padding: 12px 20px;
  font-size: 0.75em;
  font-weight: 600;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

footer {
  background-color: var(--darkest-grey-color);
}

.sticky-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.button[type="submit"], .button-link {
  background-color: var(--darkest-grey-color);
  color: #ffffff;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 0.75em;
  font-weight: 600;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.button[type="submit"]:hover, .button-link:hover {
  background-color: var(--dark-grey-color);
}

.input-daterange .input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
}