#subscriptions .plan {
  color: var(--dark-grey-color);
  margin: 0;
  border: 3px solid var(--dark-grey-color);
  box-shadow: 0 0 5px rgba(33, 33, 33, 0.3);
  background-color: var(--white-color);
  text-align: left;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

#subscriptions .plan-title {
  background-color: var(--darkest-grey-color);
  color: var(--white-color);
  font-size: 1.1em;
  position: relative;
  margin: 0;
  padding: 20px 20px 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#subscriptions .plan-title:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 300px 0 0;
  border-color: var(--darkest-grey-color) transparent transparent;
}

#subscriptions .plan-cost {
  padding: 40px 20px 10px;
  text-align: right;
}
#subscriptions .plan-price {
  font-weight: 600;
  font-size: 3em;
}
#subscriptions .plan-type {
  opacity: 0.8;
  font-size: 0.7em;
  text-transform: uppercase;
}

#subscriptions .plan-features {
  padding: 0 0 20px;
  margin: 0;
  list-style: outside none none;
}
#subscriptions .plan-features li {
  padding: 8px 5%;
}
#subscriptions .plan-features i {
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.5);
}

#subscriptions .plan-select {
  border-top: 1px solid var(--grey-color);
  padding: 20px;
  text-align: center;
}

#subscriptions .featured {
  margin-top: -10px;
  border-color: var(--grey-color);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 8px;
}
/*
@media only screen and (max-width: 767px) {
  #subscriptions .plan {
    width: 50%;
  }
  #subscriptions .plan-title,
  #subscriptions .plan-select a {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  #subscriptions .plan-select,
  #subscriptions .featured .plan-select {
    padding: 20px;
  }
  #subscriptions .featured {
    margin-top: 0;
  }
}
@media only screen and (max-width: 440px) {
  #subscriptions .plan {
    width: 100%;
  }
}
*/
